.slider-wrapper
  #slider.nivoSlider
    %img{:alt => "", :src => "images/asset1.jpg"}/
    %img{:alt => "", :src => "images/asset1_wire.jpg", :title => "#htmlcaption"}/
    %img{:alt => "", :src => "images/asset3.jpg", :title => "This is an example of a caption"}/
    %img{:alt => "", :src => "images/asset3_wire.jpg"}/
#htmlcaption.nivo-html-caption
  %strong This
  is an example of a
  %em HTML
  caption with
  = succeed "." do
    %a{:href => "#"} a link

:javascript
  $(document).ready(function(){
    $('#slider').nivoSlider({
      pauseTime: 5000
    });
  });
