/ Slider Container
.orbit-container
  %ul.orbit-slides-container{"data-orbit" => ""}
    %li
      %img{:src => "/assets/images/asset1.jpg"}/
      .orbit-caption The Auto Union
    %li.active
      %img{:src => "/assets/images/asset1_wire.jpg"}/
      .orbit-caption The Auto Union
    %li
      %img{:src => "/assets/images/asset3.jpg"}/
      .orbit-caption Nissan GTR 
    %li
      %img{:src => "/assets/images/asset3_wire.jpg"}/
      .orbit-caption Nissan GTR 
  / Prev/Next Arrows
  %a.orbit-prev{:href => "#"}
    Prev
    %span
  %a.orbit-next{:href => "#"}
    Next
    %span
  / Slide Numbers
  .orbit-slide-number
    %span 1
    of
    %span 3
  / Timer and Play/Pause Button
  .orbit-timer
    %span
    .orbit-progress{:style => "width: 100%; -webkit-transition: width 10s linear;"}
/ Orbit Bullet Slide Indicator
%ol.orbit-bullets
  %li{"data-orbit-slide-number" => "1"}
  %li.active{"data-orbit-slide-number" => "2"}
  %li{"data-orbit-slide-number" => "3"}

:javascript
  $(window).load(function() {
    $("#featured1").on("orbit:ready", function(event) {
      console.info("ready");
    });
    $("#featured1").on("orbit:before-slide-change", function(event) {
      console.info("before slide change");
    });
  });
