.contain
  .content
    %ul
      %li
        %h5 Animation test Bourbon
  .content
    %ul.element
      %li.nested-element
        Something else
  .content
    %ul
      %li
        Something else
