.panel.center
  %h2 Welcome to my site!
  %center

.row-fluid
  .span6
    %h2 A slider?
    = render 'shared/nivo_slider'
  .span6
    .content
      %h2 Featured Post

%hr
.row-fluid
  .span6
    .content
      %h2 Recent blog post
      %article
  .span6
    .content.tutorial
      %h2 Recent tutorials
      %article

