.panel.center
  %h2 Welcome to my site!
  %p My name is Guy Archibald and I am a Software Developer.
  %center

.content.about
  %h2 
  %article
    %ul
      %li= link_to "About Me", about_path
      %li= link_to "Links", link_path 
      %li= link_to "Blog", blog_path 
      %li= link_to "Tutorials", tutorial_path 


