<div class="center hero-unit">
  <h1>Dealers Revenge</h1>

  <h2>
    This is the home page for
    Dealers Revenge.
  </h2>

  <%= link_to "Sign Up!", '#', class: "btn btn-large btn-primary" %>
</div>
