%h1 Fun and sum Links
.row-fluid
  .links
    .span4
      .inline
        %h3 My Links
        %ul
          %li
            %a{:href => "https://github.com/goArchy"} My Github
          %li
            %a{:href => "https://github.com/goArchy"} My Github
          %li
            %a{:href => "https://github.com/goArchy"} My Github
          %li
            %a{:href => "https://github.com/goArchy"} My Github
          %li
            %a{:href => "https://github.com/goArchy"} My Github
    .span4
      .inline
        %h3 Awesome Links
        %ul
          %li
            %a{:href => "http://prototyperobotics.com"} Prototype Robotics
          %li
            %a{:href => "http://reddit.com/"} Reddit
    .span4
      .inline
        %h3 Learn Something
        %ul
          %li
            %a{:href => "http://www.khanacademy.com"} Khan Academy
          %li
            %a{:href => "http://www.sparkfun.com"} Sparkfun
          %li
            %a{:href => "http://www.adafruit.com/tutorials"} LadyAda
