/* header */
header {
  @include media($large) {
    .header-container {
      @include linear-gradient(#777, #444);
      @include box-shadow(0 0 6px 3px #000);
      @include outer-container;
      color: $brand_color;
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      .logo {
        @include span-columns(3);
        display: inline-block;
      }
      .menu {
        @include span-columns(5);
        display: inline-block;
        ul {
          list-style: none;
          li {
            display: inline-block;
          }
        }
      }
    }
  }
}

.slider {
  background-color: $grey;
  height: 20em;
  margin-bottom: 3em;
}
.main-content {
  @include outer-container;
  .content {
    @include media($medium) {
      @include span-columns(8);
      height: 20em;
      background-color:$grey;
      box-shadow: 5px 5px 5px #333;
      margin: 1em 0;
    }
    @include media($large) {
      @include span-columns(2.5);
      height: 20em;
      background-color:$grey;
      box-shadow: 5px 5px 5px #333;
    }
  }
}

/* footer */
.footer {
  .footer-nav {
    background: $lightgrey;
    li {
      display: inline-block;
    }
  }
}
