@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: url(asset_path('grim_hack.jpg', image));
  background-repeat:no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.panel {
  width: 60em;
  background-color:$grayLight;
  box-shadow: 5px 5px 5px #000;
  margin-left:20px;
  h1 {
    color:white;
 }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

article {
  ul{
    li {
      width: 120px;
      height: 40px;
      border: 3px solid black;
      background-color: grey;
      box-shadow: 5px 5px 5px #888;
      margin: 10px 10px;
      padding: 21px;
      a {
        font-size: 1.1em;
        color:black;
        text-decoration:none;
        padding: 1px 1px;
      }
    }
  }
}

.content {
  width: 30em;
  height: 30em;
  background-color:$grayLight;
  border: .2em solid white;
  box-shadow: 5px 5px 5px #000;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Futura;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

/* footer */
.footer{
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  background: $grayLight;
  margin-top: 20px;
  li {
    display: inline-block;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}


/* links */
.links {
  margin-bottom: 150px;
  .inline {
    display:inline-block;
    li {
      margin-top: 10px; 
      }
    }
  } 


input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
